<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Chefs</h4>
            <p class="card-category">Here is all Epicure Chefs</p>
            <div
              (click)="add()"
              class="add-new"
            >
              Add New Chef
              <mat-icon>add</mat-icon>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th>ID</th>
                  <th>Name</th>
                  <th>About</th>
                </thead>
                <tbody>
                  <tr *ngFor="let chef of chefs">
                    <td>
                      {{ chef._id }}
                    </td>
                    <td>
                      {{ chef.name }}
                    </td>
                    <td>
                      {{ chef.about }}
                    </td>
                    <td>
                      <mat-icon (click)="removeChef(chef)"  class="icon" >delete</mat-icon>
                    </td>
                    <td>
                      <mat-icon (click)="editChef(chef)" class="icon">edit</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
